Sharepoint/AddressBook/MriyaAddressBook/1CSoapService/Web References/test1c_AddressBook/AddressBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://www.mriya.net/v81c/upp/addressbook" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mriya.net/v81c/upp/addressbook" name="AddressBook" targetNamespace="http://www.mriya.net/v81c/upp/addressbook" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs1="http://www.mriya.net/v81c/upp/addressbook" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mriya.net/v81c/upp/addressbook" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="AddressBookGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Items" nillable="true" type="xs1:AddressBookItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressBookItem">
        <xs:sequence>
          <xs:element name="Name" nillable="true" type="xs:string" />
          <xs:element name="Surname" nillable="true" type="xs:string" />
          <xs:element name="MiddleName" nillable="true" type="xs:string" />
          <xs:element name="Birthday" nillable="true" type="xs:date" />
          <xs:element name="Photo" nillable="true" type="xs:base64Binary" />
          <xs:element name="INN" nillable="true" type="xs:string" />
          <xs:element name="SSN" nillable="true" type="xs:string" />
          <xs:element name="Organization" nillable="true" type="xs:string" />
          <xs:element name="Subdivision" nillable="true" type="xs:string" />
          <xs:element name="SeparateDivision" nillable="true" type="xs:string" />
          <xs:element name="HiringDate" nillable="true" type="xs:date" />
          <xs:element name="OrganizationalPosition" nillable="true" type="xs:string" />
          <xs:element name="Email" nillable="true" type="xs:string" />
          <xs:element name="PhoneAtWork" nillable="true" type="xs:string" />
          <xs:element name="LDAP" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetList">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs1:AddressBookGroup" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GetListRequestMessage">
    <part name="parameters" element="tns:GetList" />
  </message>
  <message name="GetListResponseMessage">
    <part name="parameters" element="tns:GetListResponse" />
  </message>
  <portType name="AddressBookPortType">
    <operation name="GetList">
      <input message="tns:GetListRequestMessage" />
      <output message="tns:GetListResponseMessage" />
    </operation>
  </portType>
  <binding name="AddressBookSoapBinding" type="tns:AddressBookPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetList">
      <soapbind:operation soapAction="" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="AddressBookSoap12Binding" type="tns:AddressBookPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetList">
      <soap12bind:operation soapAction="" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AddressBook">
    <port name="AddressBookSoap" binding="tns:AddressBookSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://c90.oiltec-odessa.tenet.odessa.ua/DemoHRM/ws/AddressBook" />
    </port>
    <port name="AddressBookSoap12" binding="tns:AddressBookSoap12Binding">
      <soap12bind:address location="http://c90.oiltec-odessa.tenet.odessa.ua/DemoHRM/ws/AddressBook" />
    </port>
  </service>
</definitions>